@charset "UTF-8";

$COLOR-BACKGROUND-BASE: #fff;
$COLOR_BACKGROUND_IMPORTANT: #2a2d32;

$COLOR_TEXT_BASE: #000;
$FONT_FAMILY_TEXT: 'Arial', sans-serif;
$FONT_WEIGHT_TEXT: normal;

$LG: 1000px;
$MD: 768px;
$SM: 320px;