@charset "UTF-8";

$COLOR_BACKGROUND_BASE: #fff;
$COLOR_BACKGROUND_IMPORTANT: #2a2d32;
$COLOR_BACKGROUND_SECONDARY: #f2f2f2;
$COLOR_BACKGROUND_UNIMPORTANT: #9fa7aa;
$COLOR_LINK: #000;
$COLOR_LINK_ACTIVE: tint(#e87722, 20%);
$COLOR_BTN: #e87722;
$COLOR_BTN_ACTIVE: tint($COLOR_BTN, 20%);

$COLOR_TEXT_BASE: #000;
$COLOR_TEXT_IMPORTANT: #d92839;
$FONT_FAMILY_TEXT: 'Tahoma', 'Arial', sans-serif;
$FONT_WEIGHT_TEXT: normal;

$LG: 1000px;
$MD: 768px;
$SM: 320px;

$TRANSITION_DURATION_BASE: 0.2s;