@charset "UTF-8";

$COLOR_BACKGROUND_BASE: #fff;
$COLOR_BACKGROUND_IMPORTANT: #2a2d32;
$COLOR_BACKGROUND_SECONDARY: #f2f2f2;
$COLOR_LINK: #e87722;
$COLOR_LINK_ACTIVE: tint($COLOR_LINK, 30%);
$COLOR_BTN: $COLOR_LINK;
$COLOR_BTN_ACTIVE: tint($COLOR_BTN, 30%);

$COLOR_TEXT_BASE: #000;
$FONT_FAMILY_TEXT: 'Arial', sans-serif;
$FONT_WEIGHT_TEXT: normal;

$LG: 1000px;
$MD: 768px;
$SM: 320px;

$TRANSITION_DURATION_BASE: 0.2s;