@charset "UTF-8";

.catalogue-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $COLOR_BACKGROUND_BASE;
  border: 1px solid $COLOR_BACKGROUND_UNIMPORTANT;
  padding: 1rem;
  border-radius: 8px;
  transition: $TRANSITION_DURATION_BASE;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $COLOR_LINK_ACTIVE;
    box-shadow: 0 0 10px 0 $COLOR_LINK_ACTIVE;
  }

  &__articul {
    color: $COLOR_EBN_2;
    font-size: 1.2rem;
    margin: 0 0 10px 0;
  }

  &__title {
    font-size: 1.6rem;
    color: $COLOR_TEXT_BASE;
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__img-link {
    display: flex;
    height: 200px;
    align-items: center;
    font-size: 0;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__size {
    margin-bottom: 0.5rem;
    width: 140px;
    padding: 0 0 0 0.5rem;
    font-size: 1.4rem;
  }

  &__price {
    color: $COLOR_TEXT_IMPORTANT;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;

    &--old {
      text-decoration: line-through;
      color: $COLOR_BACKGROUND_VERY_IMPORTANT;
      font-size: 1.6rem;
      margin-bottom: 0.3rem;
    }
  }

  &__more {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $COLOR_BACKGROUND_VERY_IMPORTANT;
    margin-top: 1rem;
    text-decoration: underline;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: $COLOR_BACKGROUND_VERY_IMPORTANT;
      text-decoration: none;
    }
  }
}