@charset "UTF-8";

.catalogue-sidebar {
  @include grid-item;
  @include col-lg-25;
  @include col-xs-100;

  @media only screen and (max-width: $MD) {
    text-align: center;
  }

  &__wrap {
    @include content-block;
  }

  &__header {
    background: $COLOR_BACKGROUND_IMPORTANT;
    margin: -1rem -1rem 2rem -1rem;
    color: $COLOR_BACKGROUND_BASE;
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px 8px 0 0;

    @media only screen and (max-width: $MD) {
      margin-bottom: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    padding: 0.8rem 1rem;
    font-size: 1.6rem;
    border-bottom: 1px solid $COLOR_BACKGROUND_IMPORTANT;
  }
}