@charset "UTF-8";

.catalogue-item {
  display: flex;
  flex-direction: column;
  background: $COLOR_BACKGROUND_BASE;
  border: 1px solid $COLOR_BACKGROUND_UNIMPORTANT;
  padding: 1rem;
  border-radius: 8px;

  &__title {
    font-size: 1.6rem;
    color: $COLOR_TEXT_BASE;
    text-align: center;
  }

  img {
    max-height: 200px;
  }
}