.gallery {
  @include container;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  &__row {
    @include grid-row;
  }

  &__slider {
    @include grid-item;
    @include col-lg-66;
  }

  &__slider-img {
    width: 100%;
    min-height: auto;
  }

  &__descs {
    @include grid-item;
    @include col-lg-33;
    display: flex;
    flex-direction: column;
  }

  &__desc {
    @include content-block;
    background: $COLOR_BACKGROUND_IMPORTANT;
    color: $COLOR_BACKGROUND_BASE;
    display: flex;
    flex: 1;
    align-items: flex-start;
    margin: 0.5rem 0;

    svg {
      margin-right: 2rem;
      width: 60px;

      path {
        fill: $COLOR_BACKGROUND_BASE;
      }
    }

    span {
      flex: 1;
      display: flex;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}