.main-menu {
  background: $COLOR_BACKGROUND_IMPORTANT;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  font-size: 1.6rem;
  padding: 0.8rem 1.5rem;
  color: $COLOR_BACKGROUND_BASE;
  display: flex;
  @include container;
  border-radius: 8px;
  margin-bottom: 1rem;

  @media only screen and (max-width: $MD) {
    flex-direction: column;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: $MD) {
      flex-direction: column;
    }
  }

  &__list-item {
    width: 20%;

    @media only screen and (max-width: $MD) {
      width: 100%;
    }

    a {
      display: block;
      padding: 0 2rem;
      color: $COLOR_BACKGROUND_BASE;
      border-right: 1px solid $COLOR_BACKGROUND_BASE;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;

      &:hover,
      &:focus,
      &:active {
        color: $COLOR_BACKGROUND_VERY_IMPORTANT;
      }

      @media only screen and (max-width: $MD) {
        border: none;
        text-align: center;
        padding: 0.5rem 2rem;
      }
    }

    &:last-child {
      a {
        border-right: none;
      }
    }

    &--active {
      a {
        color: $COLOR_BACKGROUND_VERY_IMPORTANT;
      }
    }
  }
}