@charset "UTF-8";

.phones {
  display: flex;
  flex-direction: column;

  &__phone {
    font-size: 2rem;
    color: $COLOR_TEXT_BASE;
    margin-bottom: 1rem;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: $COLOR_TEXT_BASE;
    }
  }
}