.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;

  &__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;margin-bottom: 1rem;
  }

  &__price {
    width: 35%;
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  &__label {
    font-size: 1.6rem;
    width: calc(15% - 1rem);
    padding: 0;
    margin: 0 0.5rem;
    text-align: right;
  }
}