@charset "UTF-8";

/* buttons */

button {
  appearance: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  line-height: 2.8rem;
  height: 3rem;
  text-align: center;
  outline: 0;
  color: $COLOR_BACKGROUND_BASE;
  background-color: $COLOR_BTN;
  border: 1px solid $COLOR_BTN;
  @include border-radius;
  padding: 0 1rem;
  min-width: 7.5rem;
  transition: all $TRANSITION_DURATION_BASE;

  &:hover,
  &:active,
  &:focus {
    color: $COLOR_BACKGROUND_BASE;
    border-color: $COLOR_BTN_ACTIVE;
    background: $COLOR_BTN_ACTIVE;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
    transform: none !important;
  }

  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus {
    border-color: $COLOR_BTN;
    background: $COLOR_BTN;

  }

  &--ebn {
    background-color: $COLOR_EBN;
    background-image: url('/images/btn-img.png');
    background-repeat:  repeat-x;
    border: 1px solid $COLOR_EBN;
    border-radius: 3px;
    width: 70%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      transform: translateY(1px);
      background-color: $COLOR_EBN; /* Old browsers */
      background-image: url('/images/btn-img.png');
      background-repeat:  repeat-x;
      border: 1px solid $COLOR_EBN;
    }

    &[disabled]:hover,
    &[disabled]:active,
    &[disabled]:focus {
      background-color: $COLOR_EBN;
      border: 1px solid $COLOR_EBN;
    }
  }

  &--red {
    background: linear-gradient(to top, #be0101, #f30202);
    border: none;

    &:hover,
    &:active,
    &:focus {
      transform: translateY(1px);
      background: linear-gradient(to top, #be0101, #f30202);
      border: none;
    }

    &[disabled]:hover,
    &[disabled]:active,
    &[disabled]:focus {
      background: linear-gradient(to top, #be0101, #f30202);
      border: none;
    }
  }

  &--xl {
    height: 4rem;
    line-height: 4rem;
  }

  &--block {
    width: 100%;
  }
}

.btn--secondary {
  background: #ecf0f3;
  color: #000;
}

.btn--secondary:hover {
  background: #f1f1f1;
  opacity: 1;
  color: #000;
}

.btns {
  display: flex;

  &--center {
    justify-content: center;
  }

  &--spaced {
    justify-content: space-between;
  }
}
.btn-close {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -176px 0;
  border: none;
}

.btn-close--active {
  background-position: -188px 0;
}
/* /buttons */